	.bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #postBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
      }
      #postBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      
      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	}
      
      	