<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>RRP-Add Parameter</title>
    <style>
      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #postBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
      }
      #postBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      
      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" href="#">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/addParameter}">Add Parameter<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" th:href="@{/addRiver}">Add River</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/addRiverStat}">Add River Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/showRivers}">Show Rivers</a>
        </li>
      </ul>

      

    </div>
  </nav>

<br><br>
  <nav th:if="${success!='empty'}"  class="navbar navbar-light bg-light" >
		<a class="navbar-brand" href="#">
			<h1 th:text="${success}" style="color: green; margin-top:5%;"></h1>
		</a>
 </nav>
 <nav th:if="${rivers=='empty'}"  class="navbar navbar-light bg-light" >
		<a class="navbar-brand" href="#">
			<h1 style="color: green; margin-top:5%;">There are no rivers added</h1>
		</a>
 </nav>
 <nav th:if="${parameters=='empty'}"  class="navbar navbar-light bg-light" >
		<a class="navbar-brand" href="#">
			<h1 style="color: green; margin-top:5%;">There are no parameters added to measure the quality</h1>
		</a>
 </nav>
 
 <br>
 
  <!-- Form -->
  <div class="container" th:if="${rivers!='empty'} and ${parameters!='empty'}">
  	
      <form method="POST" th:object="${riverValue}" th:action="@{/addRiverStat}">
      
	      <div class="form-group blu-margin" th:object="${rivers}">
	        <input type="hidden" id="riverId" name="riverId"  />
	      
    		<select class="form-control" onChange='document.getElementById("riverId").value = this.value'>
    			<option value="">Select a River</option>
    			<option th:each="river : ${rivers}" th:value="${river.id}" th:text="${river.name}"></option>
    		</select>
		  </div>
		  <div class="form-group blu-margin" th:object="${parameters}">
    		<select class="form-control" onChange='document.getElementById("parameterId").value = this.value'>
    			<option value="">Select a Parameter</option>
    			<option th:each="parameter : ${parameters}" th:value="${parameter.id}" th:text="${parameter.name}"></option>
    		</select>
    		<input type="hidden" id="parameterId" name="parameterId" />
		  </div>
		  <div class="form-group blu-margin">
    		<label for="eventHeader"> Data </label>
	        <input type="number" class="form-control" placeholder="Input the value associated with the parameter" th:field="*{data}">
		  </div>
		  
		  <div class="form-group blu-margin">
    		<select class="form-control" name="month" th:field="*{month}">
    			<option value="">Select the month it was registered on</option>
    			<option th:value="January" th:text="January"></option>
    			<option th:value="February" th:text="February"></option>
    			<option th:value="March" th:text="March"></option>
    			<option th:value="April" th:text="April"></option>
    			<option th:value="May" th:text="May"></option>
    			<option th:value="June" th:text="June"></option>
    			<option th:value="July" th:text="July"></option>
    			<option th:value="August" th:text="August"></option>
    			<option th:value="September" th:text="September"></option>
    			<option th:value="October" th:text="October"></option>
    			<option th:value="November" th:text="November"></option>
    			<option th:value="December" th:text="December"></option>
    		</select>
		  </div>
		  <div class="buttons">
	        <button id="postBtn" class="btn btn-outline-info" name="add">Add</button>
	        <a id="cancelBtn" class="btn btn-outline-danger" th:href="@{/addRiverStat}">Clear</a>
	        <br><br><br><br>
	    </div>
		  
	   </form>
  </div>
  
  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{js/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  

</html>
