<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Rever Restoretion</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <style type="text/css">
      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #postBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
      }
      #postBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }
      
      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
        float:right;
        }
      
form{
  border-radius: 12px;
  border: 2px solid gray;
  padding: 30PX;
  margin: 12px;
}


 .request{
  border-radius: 12px;
  border: 1px solid gray;
  padding: 30PX;
  margin: 12px;
  padding-bottom: 100px;

 }

.input{

  margin-left: 30px;
  width: 90%;
}

  </style>
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li class="drop-down"><a href="">More</a>
            <ul>
             
              
              <li class="drop-down"><a th:href="@{/addRiver}">Add River</a></li>
              <li class="drop-down"><a th:href="@{/addParameter}">Add Parameter</a></li>
              <li class="drop-down"><a th:href="@{/AddStatus}">Add Status</a></li>
              <li class="drop-down"><a th:href="@{UploadPost}">Upload Resource</a></li>
              
              
            </ul>
          </li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->



  <br><br><br><br><br>
  <!-- Form -->
  <div class="container">
    
      
      <form method="POST" th:object="${river}" th:action="@{/addRiver}" enctype="multipart/form-data">


        <div class="input">

        <div class="form-group row">
          <label for="eventHeader"> Name :  </label></br>
          <input type="text" class="form-control" style="width:297px;margin-left: 52px" placeholder="River name ... " th:value="${river?.name}" th:name="name" th:id="name" th:errorclass="fieldError"><br>
          <span class="text-danger" 
          th:if="${#fields.hasErrors('name')}" 
          th:errors="*{name}">Name Error</span>
          
        </div>
       
        <div class="form-group row">
          <label for="eventHeader"> Location Up </label>
          <input type="text" class="form-control" style="width:297px;margin-left: 17px" placeholder="...." th:value="${river?.locationUp}" th:name="locationUp" th:id="locationUp" th:errorclass="fieldError">
          <span class="text-danger" 
          th:if="${#fields.hasErrors('locationUp')}" 
          th:errors="*{locationUp}">UpperLocation Error</span>
          
        </div>
        
        <div class="form-group row">
          <label for="eventHeader"> Location Down </label>
          <input type="text" class="form-control" style="width:297px;margin-left: 17px" placeholder="..." th:value="${river?.locationDown}" th:name="locationDown" th:id="locationDown" th:errorclass="fieldError">
          <span class="text-danger" 
          th:if="${#fields.hasErrors('locationDown')}" 
          th:errors="*{locationDown}">Lower Location Error</span>
          
        </div>
        
        <div class="form-group row">
          <label for="eventHeader"> Location Left </label>
          <input type="text" class="form-control" style="width:297px;margin-left: 17px" placeholder="..." th:value="${river?.locationLeft}" th:name="locationLeft" th:id="locationLeft" th:errorclass="fieldError">
          <span class="text-danger" 
          th:if="${#fields.hasErrors('locationLeft')}" 
          th:errors="*{locationLeft}">Left Location Error</span>
          
        </div>
        
        <div class="form-group row">
          <label for="eventHeader"> Location Right </label>
          <input type="text" class="form-control" style="width:297px;margin-left: 17px" placeholder="..." th:value="${river?.locationRight}" th:name="locationRight" th:id="locationRight" th:errorclass="fieldError">
          <span class="text-danger" 
          th:if="${#fields.hasErrors('locationRight')}" 
          th:errors="*{locationRight}">Right Location Error</span>
          
        </div>
         <div class="form-group row"><span>
          <label for="resource"> Image file </label>
          <input th:value="${resourceFile}" name="file" type="file" class="form-control input-sm chat-input" placeholder="Insert image" accept="image/*" onchange="readURL(event)"></span>
          
        </div>

   </div>

        <div style="background-color:white; width:30%;">
        <img id="output" class="thumbnail" style="height:250px; width:365px;" />
                        <script>
                            var readURL = function(event){
                                var output = document.getElementById('output');
                                output.src=URL.createObjectURL(event.target.files[0]);
                            };

                        </script>
        
        </div>
          
        </div>

       
     <div class="request">
        <div class="buttons">
          <button id="postBtn" class="btn btn-outline-info" name="add">Add</button>
          <a id="cancelBtn" class="btn btn-outline-danger" th:href="@{/addRiver}">Clear</a>
          <br><br><br><br><br><br><br><br>
         </div>
    </div>
  </form>
      <br>
      <br>
     
  </div>
  
  

  <!--==========================
    Footer
  ============================-->
  <br><br><br><br>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>NewBiz</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
